.columns-reset-content {
  display: flex;
  width: 70vw;
  min-width: 960px;
  max-width: 1080px;
  height: 65vh;
  border-radius: 1.5rem;
  .reset-card-title {
    margin-bottom: 4px;
  }
  .columns-reset-title {
    font-size: 16px;
    font-weight: 600;
  }
  .over-flow-box {
    height: calc(65vh - 240px);
    padding-right: 0.5rem;
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 15px;
    background: #f7f7f8;
    transition: all 300ms linear;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    transition: all 300ms linear;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
    transition: all 300ms linear;
  }
  .zero-margin-divider {
    margin: 3px 0;
  }
  .left-side-content {
    width: 65%;
    padding: 1.5rem 0.7rem 1.5rem 1.2rem;

    .filter-column-group {
      width: 100%;
    }
  }
  .columns-reset-search {
    height: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;

    .ant-input-suffix {
      color: #7c8089;
      font-size: 20px;
    }
  }
  .right-side-content {
    width: 35%;
    height: 100%;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color: #f6f6f8;
    * {
      user-select: none;
    }
    .active-size-card {
      box-shadow: 0 4px 16px 0 rgba(37, 43, 58, .2) !important;
    }
    .columns-reset-collapse {
      .ant-collapse-header {
        padding: 0.5rem 0;
        font-weight: 600;
        
      }
      .ant-collapse-content {
        height: calc(65vh - 240px);
        overflow-y: auto;
        width: calc(100% + 0.5rem);
      }
      .ant-collapse-content-box {
        padding: 0 !important;
      }
    }
    .drag-area-content {
      height: 100%;
      padding-right: 0.5rem;
      overflow-y: hidden;

      .operate-icon-list {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        justify-content: space-between;
        
        .operate-all-icon {
          font-size: 20px;
          width: 2.2rem;
          height: 2.2rem;
          line-height: 2.2rem;
          text-align: center;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: white;
          }
        }
      }

      .drag-area-content-item {
        padding-right: 0.5rem;
        height: calc(100% - 48px);
        overflow: auto;
      }
    }
    .drag-grip-icon {
      margin-right: 1rem;
    }
    .list-group-item {
      min-height: 2.2rem;
      line-height: 2.2rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      border-radius: 4px;
      padding: 0 1rem;
      border: 1px solid #dddddd;
      cursor: grab;
  
      &:hover {
        background-color: #ffffff;
      }

      .list-sub-item {
        min-height: 2.2rem;
        line-height: 2.2rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        border-radius: 4px;
        padding: 0 1rem;
        border: 1px solid #dddddd;
        cursor: grab;

        &:hover {
          background-color: #f6f6f8;
        }

        .close-icon {
          margin-right: 0rem;
        }
      }
      .expand-icon {
        float: right;
        height: 2.2rem;
        line-height: 2.2rem;
        cursor: pointer;
        font-size: 16px;
        color: #989898;
      }
    }
    .collapse-group {
      height: 2.2rem;
      overflow: hidden;
    }
    .close-icon {
      font-size: 14px;
      float: right;
      margin-right: 1rem;
      height: 2.2rem;
      line-height: 2.2rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
  .columns-card {
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    .ant-card-body {
      padding: 0;
    }
  }
  .active-check-box {
    color: #ff0000;
    font-weight: 600;
  }
  .list-item {
    height: 2.2rem;
    line-height: 2.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 4px;
    padding-left: 1rem;
    border: 1px solid #dddddd;
    cursor: grab;

    &:hover {
      background-color: #ffffff;
    }
  }
  .mr-top {
    margin-top: 1rem;
  }
  .flex-row {
    display: flex;
    margin-top: 1rem;
    .size-card-item {
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      background-color: white;
      border-radius: 0.7rem;
      box-shadow: 0 2px 6px 0 rgba(37, 43, 58, .12);
      cursor: pointer;
    }
  }
  .flex-row-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    .ant-switch-small {
      min-width: 36px;
      height: 20px;
      .ant-switch-handle {
        height: 16px;
        width: 16px;
      }
    }
    .ant-switch-small.ant-switch-checked .ant-switch-handle {
      left: calc(100% - 16px - 2px);
    }
  }
}
.columns-reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 20px;
    opacity: .04;
    position: absolute;
    top: -20px;
    left: 0;
    background-image: linear-gradient(180deg, transparent, #252b3a);
  }
  .columns-reset-button-item {
    margin-left: 1rem;
    border-radius: 7px;
  }
}
.columns-reset-modal {
  .ant-modal-content {
    padding: 0 !important;
    .ant-modal-body {
      padding: 0px;
    }
  }
  .ant-checkbox {
    top: 0 !important;
  }
}
